# This docker-compose.yaml is for development
name: mcp-anon

x-mcp-anon-common-config: &mcp-anon-common-config
  image: mcp-anon
  pull_policy: never
  build:
    context: .
  volumes:
  # Mount source code for live editing
  - ./src:/opt/app/src
  # Mount target of anonymization, defaulting to example
  - ${ANON_TARGET:-./integration/example-data}:/opt/app/workdir/target
  # Mount directory where pipeline codes will be created
  - ${ANON_PIPELINE:-${PWD}}:/opt/app/workdir/pipeline

services:
  mcp-anon:
    <<: *mcp-anon-common-config
  mcp-anon-http:
    <<: *mcp-anon-common-config
    command:
    - --transport
    - http
    ports:
    - "8000:8000"
    profiles:
    - http
  test:
    <<: *mcp-anon-common-config
    entrypoint:
    - python
    - -m
    - pytest
    - --pyargs
    - tests
    profiles:
    - test

