# This docker-compose.yaml is configured for local development.
name: mcp-anon

x-mcp-anon-common-config: &mcp-anon-common-config
  image: mcp-anon:dev
  pull_policy: never
  build:
    context: .
    target: dev
  user: ${UID:-}
  volumes:
  # Mount source code for live editing
  - ./src:/opt/app/src
  # Mount configuration used by pytest
  - ./pyproject.toml:/opt/app/pyproject.toml
  # Mount target of anonymization, defaulting to example
  - ${ANON_TARGET:-./integration/example-data}:/opt/app/workdir/target
  # Mount directory where pipeline codes will be created
  - ${ANON_PIPELINE:-${PWD}}:/opt/app/workdir/pipeline

services:
  # Start development server with stdio transport
  mcp-anon:
    <<: *mcp-anon-common-config
  # Start development server with http transport
  mcp-anon-http:
    <<: *mcp-anon-common-config
    command:
    - --transport
    - http
    ports:
    - "8000:8000"
    profiles:
    - http
  # Run tests on development image
  test:
    <<: *mcp-anon-common-config
    entrypoint:
    - python
    - -m
    - pytest
    - --pyargs
    - tests
    profiles:
    - test
  # Defines production build
  prod:
    image: mcp-anon
    pull_policy: never
    build:
      context: .
      target: prod
    profiles:
    - prod

